body{
    width: 250px;
    height: 375px;
    margin: 0;
    background-color: #666564;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,system-ui,Helvetica,Arial,sans-serif;
    color: #fff;
    font-weight: 125;
}

header{
    height: 75px;
    width: 100%;
    background-color: rgba(0,0,0,.2);
    display: block;
    font-size: 1.4rem;
}

.logo{
    height: 50px;
    width: 50px;
    margin-top: 12.5px;
    margin-left: 7px;
}

.section-container{
    width: 100%;
    font-size: 1.4em;
    margin: 10px;
}

.stats-container{
    margin-bottom: 35px;
}

.user {
    float: right;
    margin-right: 20px;
}

.title{
    margin-bottom: 5px;
}

.stat{
    margin-bottom: 0px;
    margin-right: 45px;
    float: right;
}

.board{
    width:15px;
    height: 15px;
}